@media (max-width: 600px) {
  .graphic-card {
    padding: 15px 5px !important; 
    margin: 10px 5px !important;
  }

  .graphic-wrapper {
    padding: 0 !important;
    background: transparent !important;
  }

  .function-plot .axis text {
    font-size: 14px !important;
  }

  @media (max-width: 600px) {
  .physics-graph-render-target svg text {
    font-size: 14px !important;
    font-weight: bold !important;
  }
}
}

.graphic-card {
  background: #ffffff !important;
  border-radius: 20px;
  padding: 40px 10px;
  margin: 20px auto;
  max-width: 900px;
  border: 1px solid #f0f0f0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
}

/* Обертка самого графика */
.physics-graph-wrapper {
  background: #000000 !important;
  border: 1px solid #f0f0f0;
  border-radius: 15px;
  padding: 15px;
}

.physics-graph-wrapper svg {
  background: transparent !important;
}